
/* In der entsprechenden CSS-Datei */
.mat-toolbar {
    background-color: rgb(91, 186, 238); /* oder #FFFF00 */
    span{
        color: white;
    }
  }

  .mat-drawer-container {
    height: 100vh;
  }
  