
/* In der entsprechenden CSS-Datei */
mat-toolbar, mat-toolbar-row{
min-height: 56px;
height: 56px;
}
.mat-toolbar {
    background-color: rgb(91, 186, 238); /* oder #FFFF00 */
    span{
        color: white;
    }
  }

  .mat-drawer-container {
    height: 100vh;

    .sidenav{
        width: 300px;
     
        .logo-container{
            border-bottom: 1px solid rgba(0,0,0,0.25);
            padding-left: 16px;
            padding-right: 16px;
            min-height: 55px;
            display: flex;
            align-items: center;

            .logo{
                width: 80%;
                height: 55px;
                image-rendering: crisp-edges; 
                object-fit: cover;
            
            }  
        }
      
        .menu-items{
            list-style-type: none;
            padding: 0;
            margin: 0;
            li{
                padding-left: 16px;
                padding-right: 16px;
                height: 32px;
                display: flex;
                align-items: center;
                cursor: pointer;
                border-bottom: 1px solid rgba(0,0,0,0.03);
                mat-icon {
                    margin-right: 16px;
                }
                &:hover{
                    background-color: rgba(0,0,0,0.05);
                }
            }
        }
    }

    .menu-icon{
        color: white;
        cursor: pointer;
        margin-right: 4px;
      }

      .example-sidenav-content{

        .router-container{
            padding-left: 56px;
            padding-right: 56px;
            padding-top: 16px;
        }

      }
 
  }
  