<mat-card appearance="outlined" class="user-detail-header">
  <mat-card-content class="image-userDetails">
    <button
      mat-icon-button
      class="pin-right-upper-corner"
      [matMenuTriggerFor]="addressMenu"
    >
      <mat-icon>more_vert</mat-icon>

      <mat-menu #addressMenu="matMenu">
        <button mat-menu-item (click)="editUserDetail()">Edit</button>
        <button mat-menu-item>Item 2</button>
        <button mat-menu-item>Item 3</button>
      </mat-menu>
    </button>

    <img src="./assets/img/profile-1.png" alt="" />
    <div class="user-details">
      <h2>{{ user.firstName }} {{ user.lastName }}</h2>
      <p>{{ user.email }}</p>
      <p>{{ user.birthDate | date : "MM/dd/yyyy" }}</p>
    </div>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="user" class="address mt-32" appearance="outlined">
  <button
    mat-icon-button
    class="pin-right-upper-corner"
    [matMenuTriggerFor]="userMenu"
  >
    <mat-icon>more_vert</mat-icon>

    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="editMenu()">Edit</button>
      <button mat-menu-item>Item 2</button>
      <button mat-menu-item>Item 3</button>
    </mat-menu>
  </button>
  <mat-card-header>
    <mat-card-title>Address</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>{{ user.street }}</p>
    <p>{{ user.zipCode }} {{ user.city }}</p>
    <p></p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button class="mR-16">LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
