<mat-card appearance="outlined">
  <mat-card-content>
    <table class="user-table">
      <tr>
        <th>Simple card</th>
        <th>E-mail</th>
        <th>City</th>
        <th>Beruf</th>
      </tr>
      <tr>
        <td>asd</td>
        <td>asd</td>
        <td>asd</td>
        <td>asd</td>
      </tr>
      <tr>
        <td>asd</td>
        <td>asd</td>
        <td>asd</td>
        <td>asd</td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>

<button
  (click)="openDialog()"
  class="add-user-btn"
  mat-fab
  color="primary"
  matTooltip="Add user"
  matTooltipPosition="above"
>
  <mat-icon>add</mat-icon>
</button>
