<mat-card appearance="outlined">
  <mat-card-content>
    <!-- Tabelle mit den Benutzerinformationen -->
    <table class="user-table">
      <thead>
        <tr>
          <th>Vorname</th>
          <th>Nachname</th>
          <th>E-mail</th>
          <th>Stadt</th>
          <th>Straße</th>
          <th>PLZ</th>
          <th>Geburtsdatum</th>
        </tr>
      </thead>
      <tbody>
        <!-- ngFor Schleife durch die Nutzer und Darstellung der Daten -->
        <tr
          class="tr"
          *ngFor="let user of users"
          [routerLink]="['/user/' + user.id]"
        >
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.city }}</td>
          <td>{{ user.street }}</td>
          <td>{{ user.zipCode }}</td>
          <td>{{ user.birthDate | date : "MM/dd/yyyy" }}</td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>

<!-- Button zum Öffnen des Dialogs -->
<button
  (click)="openDialog()"
  class="add-user-btn"
  mat-fab
  color="primary"
  matTooltip="Benutzer hinzufügen"
  matTooltipPosition="above"
>
  <mat-icon>add</mat-icon>
</button>
